<fieldset>
  <legend>{{ localize "elevatedvision.name" }}</legend>

    <div class="form-group" id="elevatedvision-tokenconfig-height">
      <label>{{ localize "elevatedvision.phrases.height" }} <span class="units">({{gridUnits}})</span></label>
      <div class="form-fields">
        <input type="number" placeholder="{{evTokenHeightPlaceholder}}" id="elevatedvisionheightconfig" name="flags.elevatedvision.height" class="elevatedvision" value="{{ object.flags.elevatedvision.height }}" />
      </div>
    </div>

  </legend>
</fieldset>