<fieldset>
  <legend>{{ localize "elevatedvision.tileconfig.legendtitle" }}</legend>

    <div class="form-group" id="elevatedvision-tileconfig-elevation">
      <label>{{ localize "elevatedvision.tileconfig.elevation.name" }} <span class="units">({{gridUnits}})</span></label>
      <div class="form-fields">
        <input type="number" placeholder="Infinity" id="elevatedvisiontileconfig" name="flags.elevatedvision.elevation" class="elevatedvision" value="{{ data.flags.elevatedvision.elevation }}" />
      </div>
      <p class="hint">{{ localize "elevatedvision.tileconfig.elevation.hint" }}</p>
    </div>

  </legend>
</fieldset>