<fieldset>
  <legend>{{ localize "elevatedvision.name" }}</legend>

    <div class="form-group" id="elevatedvision-tileconfig-elevation">
      <label>{{ localize "elevatedvision.phrases.elevation" }} <span class="units">({{gridUnits}})</span></label>
      <div class="form-fields">
        <input type="number" placeholder="Infinity" id="elevatedvisiontileconfig" name="flags.elevatedvision.elevation" class="elevatedvision" value="{{ data.flags.elevatedvision.elevation }}" />
      </div>
    </div>

  </legend>
</fieldset>