<fieldset>

<legend>Elevated Vision</legend>
  <div class="form-group">
    <label>{{ localize "elevatedvision.sceneconfig.elevationmin.name"}}</label>
    <div class="form-fields">
      <input type="number" id="EVelevationmin" name="flags.elevatedvision.elevationmin" class="elevatedvision" step="1" value={{ data.flags.elevatedvision.elevationmin }}>
    </div>
    <p class="notes">{{ localize "elevatedvision.sceneconfig.elevationmin.hint" }}</p>
  </div>

  <div class="form-group">
    <label>{{ localize "elevatedvision.sceneconfig.elevationstep.name"}}</label>
    <div class="form-fields">
      <input type="number" id="EVelevationstep" name="flags.elevatedvision.elevationstep" class="elevatedvision" step="0.1" min="0.1" value={{ data.flags.elevatedvision.elevationstep }}>
    </div>
  </div>
  <p class="notes">{{ localize "elevatedvision.sceneconfig.elevationstep.hint" }}</p>

  <div class="form-group">
    <label>{{ localize "elevatedvision.sceneconfig.disable.name"}}</label>
    <div class="form-fields">
      <input type="checkbox" id="EVdisable" name="flags.elevatedvision.disable" class="elevatedvision" value={{ checked data.flags.elevatedvision.disable }}>
    </div>
  </div>
  <p class="notes">{{ localize "elevatedvision.sceneconfig.disable.hint" }}</p>

</fieldset>