<fieldset>
<legend>"Elevated Vision"</legend>
  <div class="form-group">
    <li class="flexrow">
      <label>{{ localize "elevatedvision.sceneconfig.elevationmin.name"}}</label>
      <input type="number" id="EVelevationmin" name="flags.elevatedvision.elevationmin" class="elevatedvision" step="1" value={{ data.flags.elevatedvision.elevationmin }}>
      <p class="hint">{{ localize "elevatedvision.sceneconfig.elevationmin.hint" }}</p>
    </li>
     <li class="flexrow">
      <label>{{ localize "elevatedvision.sceneconfig.elevationstep.name"}}</label>
      <input type="number" id="EVelevationstep" name="flags.elevatedvision.elevationstep" class="elevatedvision" step="1" min="1" value={{ data.flags.elevatedvision.elevationstep }}>
      <p class="hint">{{ localize "elevatedvision.sceneconfig.elevationstep.hint" }}</p>
     </li>
  </div>
</fieldset>`