<fieldset>

<legend>{{ localize "elevatedvision.name" }}</legend>

  <div class="form-group">
    <label>{{ localize "elevatedvision.sceneconfig.use-shadow-lighting.name"}}</label>
    <div class="form-fields">
      <input type="checkbox" id="EVuseshadowlighting" name="flags.elevatedvision.useShadowLighting" class="elevatedvision" {{ checked data.flags.elevatedvision.useShadowLighting }}>
    </div>
  </div>
  <p class="notes">{{ localize "elevatedvision.sceneconfig.use-shadow-lighting.hint" }}</p>

  <div class="form-group">
    <label>{{ localize "elevatedvision.sceneconfig.use-shadow-vision.name"}}</label>
    <div class="form-fields">
      <input type="checkbox" id="EVuseshadowvision" name="flags.elevatedvision.useShadowVision" class="elevatedvision" {{ checked data.flags.elevatedvision.useShadowVision }}>
    </div>
  </div>
  <p class="notes">{{ localize "elevatedvision.sceneconfig.use-shadow-vision.hint" }}</p>

</fieldset>
