<fieldset>
  <legend>{{ localize "elevatedvision.tokenconfig.legendtitle" }}</legend>

    <div class="form-group">
      <label for="elevatedvision.shapes">{{ localize "elevatedvision.tokenconfig.elevation-algorithm.name" }}</label>
      <div class="form-fields">
        <select id="elevatedvision-elevation-algorithm" name="flags.elevatedvision.elevationMeasurement" class="elevatedvision">
          {{ selectOptions elevatedvision.elevationAlgorithms selected=object.flags.elevatedvision.elevationMeasurement localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "elevatedvision.tokenconfig.elevation-algorithm.hint" }}</p>
    </div>

  </legend>
</fieldset>